/* Oskar Kallunki */

body {
    background-color: lightgrey;
}

a.nav-link, a.navbar-brand {
    color: #ffffff;
}

a.nav-link:hover, a.navbar-brand:hover {
    color: grey !important;
}

.container {
    padding-top: 70px;
}

input[type=file] {
    margin-bottom: 15px;
}